body{
    background-color: rgb(248, 157, 157);
    margin: 0;
    padding: 20px;
}

ul{
    border-color: black;
    border-width: 1px;
    border-style: dotted; 
}
li{
    color: rgb(248, 237, 237);
}

.first{
    font-size: 20px;
}
.second{
    text-decoration: underline;
}

.box{
    /* background-color: rgb(1, 126, 84); */
    border-color: black;
    border-width: 2px;
    border-style: solid;

    /* padding: 20px; */
    /* margin: 30px; */
    margin-bottom: 20px;

    margin: auto;
    width: 100%;
    max-width: 800px;
    /* height: 500px; */
}


